services:

  # Banco de Dados
  db:
    image: postgres:18-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mydb"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # Backend
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    container_name: backend_stocksapi
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      # Configurações para o Spring Boot se conectar ao banco de dados
      # [IMPORTANTE] Usamos o nome do serviço 'db' como hostname, e não 'localhost'
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/mydb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    restart: unless-stopped

  # Frontend
  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    container_name: frontend_stocksapi
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      NUXT_PUBLIC_API_URL: http://backend:8080
    restart: unless-stopped

volumes:
  postgres_data: 